.keyboard {
  flex-wrap: wrap;
  justify-content: center;
  min-width: 330px;
  @media (min-width: 540px) {
    width: 500px;
  }
  .keyboard-row {
    justify-content: center;

    .keyboard-key.ant-btn {
      height: 50px;
      flex: 1;
      padding-inline: 4px;
      font-size: 18px;
      font-family: AllertaStencil;
      text-transform: uppercase;
      color: light-dark(var(--espresso), var(--white));
      background-color: light-dark(var(--desert-sand), var(--toffee-brown));
      border: 2px solid light-dark(var(--desert-sand), var(--toffee-brown));

      &:not(.editing) {
        color: var(--white);
      }
      &:hover {
        border-color: light-dark(var(--toffee-brown), var(--linen));
      }
    }
  }
}
