.wood-grain {
  background-color: var(--golden-chestnut);
  background-image: url(../../img/wood-grain.svg);
  background-size: 300px;
  background-blend-mode: color-burn;
}

.tile {
  width: 52px;
  height: 52px;
  border: 2px solid var(--toffee-brown);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: light-dark(var(--desert-sand), var(--toffee-brown));
  color: var(--white);
  font-size: 36px;
  font-family: AllertaStencil;
  text-transform: uppercase;

  &.editing {
    color: light-dark(var(--espresso), var(--white));
    border-color: var(--espresso);
  }
}

.tile,
.keyboard .keyboard-row button.keyboard-key.ant-btn {
  &.gray {
    background-color: var(--tile-gray);
  }
  &.yellow {
    background-color: var(--tile-yellow);
  }
  &.green {
    background-color: var(--tile-green);
  }
}
