header {
  z-index: 1000;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: var(--header-height);
  padding-inline: 16px;

  .navigation {
    width: 100%;
    height: 100%;
  }

  .open-nav-drawer-button-container {
    height: 100%;
    display: flex;
    align-items: center;

    .ant-btn.open-nav-drawer-button {
      &.drawer-open .ant-btn-icon {
        color: var(--toffee-brown);
      }

      .ant-btn-icon {
        transition: 0.1s ease-in-out;
        font-size: 48px;
        color: var(--espresso);

        &:hover {
          color: var(--toffee-brown);
        }
      }
    }
  }
}

.ant-drawer .ant-drawer-content-wrapper .nav-drawer {
  background-color: var(--linen);

  .ant-drawer-header {
    border: none;

    button.ant-drawer-close {
      height: 48px;
      width: 48px;
      font-size: 48px;
      color: var(--espresso);

      &:hover {
        background-color: transparent;
        color: var(--golden-chestnut);
      }
    }
  }

  .ant-menu {
    background-color: transparent;
    border: none;
    flex-direction: column;
    gap: 20px;

    .ant-menu-item {
      padding-block: 20px;
      font-size: 24px;

      .ant-menu-item-icon {
        font-size: 24px;
      }
    }
  }
}

.menu.ant-menu.ant-menu-root {
  background-color: transparent;
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;

  li.ant-menu-item {
    padding-block: 14px;
    padding-inline: 18px;
    height: 24px;
    display: flex;
    align-items: center;
    border: 2px solid var(--espresso);
    border-radius: 10px;
    background-color: var(--desert-sand);
    color: var(--espresso);
    font-weight: 700;
    transition: 0.5s;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      color: var(--espresso);
      background-color: var(--desert-sand);
      transform: translateY(5px) scale(110%) rotate(6deg);
    }

    &.ant-menu-item-selected {
      background-color: var(--toffee-brown);
      color: var(--white);
    }
  }
}