* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  background-color: var(--linen);
  color: var(--espresso);
  font-family: "RobotoMono", Arial, sans-serif;

  .theme {
    background-color: light-dark(var(--linen), var(--espresso));
    color: light-dark(var(--espresso), var(--linen));

    &.light {
      color-scheme: light;
    }

    &.dark {
      color-scheme: dark;
    }
  }

  font-size: 16px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  body {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.ant-typography {
      font-family: "YatraOne";
      color: inherit;
      line-height: 1.1em;
      margin-block: 10px;
      letter-spacing: 0.08em;
    }
  }

  span.ant-typography {
    line-height: 1.5em;
  }
}

body {
  margin: 0;
  button span {
    font-family: inherit;
  }

  a {
    color: inherit;
    &:hover {
      color: var(--accent);
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  li,
  ul {
    list-style: none;
  }

  .ant-divider {
    background-color: var(--toffee-brown);
  }

  .ant-switch {
    border: 2px solid light-dark(var(--toffee-brown), var(--linen));
    box-shadow: var(--box-shadow);
    &:disabled {
      background-color: light-dark(var(--gray-500), var(--gray-400));
      border-color: var(--gray-600);
    }

    .ant-switch-handle {
      transform: scale(50%);
      margin-block: -2px;
    }
    &:hover:not(.ant-switch-disabled) {
      transform: rotate(25deg);
    }
    &.ant-switch-checked {
      background-color: var(--tile-green);
      .ant-switch-handle {
        transform: scale(80%);
      }

      &:hover:not(.ant-switch-disabled) {
        transform: rotate(-25deg);
        background-color: var(--tile-green);
        .ant-switch-handle {
          transform: scale(70%);
        }
      }
    }
  }

  .ant-modal .ant-modal-container {
    background-color: transparent;
    box-shadow: none;
    .ant-modal-close {
      display: none;
    }
  }
}
