@font-face {
  font-family: "YatraOne";
  src: url("../../font/Yatra_One/YatraOne-Regular.ttf");
}
@font-face {
  font-family: "AllertaStencil";
  src: url("../../font/Allerta_Stencil/AllertaStencil-Regular.ttf");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../../font/Roboto_Mono/");
}
