:root {
  /* Sizes */
  --header-height: 48px;

  /* Colors */
  --white: #fff;
  --gray-100: rgb(223, 223, 223);
  --black: #000;

  --linen: #f3e9dcff;
  --golden-chestnut: #c08552ff;
  --espresso: #5e3023ff;
  --toffee-brown: #895737ff;
  --desert-sand: #dab49dff;

  /* Styles */
  --box-shadow: 5px 5px 9px 1px #c0c0c0;
}
