:root {
  /* Sizes */
  --header-height: 62px;
  --max-content-width: 400px;

  /* Colors */
  --white: #fff;
  --gray-100: rgb(223, 223, 223);
  --gray-400: #929698;
  --gray-500: #787c7e;
  --gray-600: #525557;
  --shadow: #00000058;
  --black: #000;

  --tile-gray: var(--gray-500);
  --tile-yellow: #c9b458;
  --tile-green: #6aaa64;
  --linen: #f3e9dcff;
  --golden-chestnut: #c08552ff;
  --espresso: #5e3023ff;
  --toffee-brown: #895737ff;
  --desert-sand: #dab49dff;
  --brick-red: #893737;
  --berry-red: #cb394a;

  /* Styles */
  --box-shadow: 5px 5px 9px 1px var(--shadow);
}

@media (min-width: 700px) {
  :root {
    --max-content-width: 700px;
  }
}
